@font-face {
  font-family: 'custom';
  src: url('../font/custom.eot?19287174');
  src: url('../font/custom.eot?19287174#iefix') format('embedded-opentype'),
       url('../font/custom.woff2?19287174') format('woff2'),
       url('../font/custom.woff?19287174') format('woff'),
       url('../font/custom.ttf?19287174') format('truetype'),
       url('../font/custom.svg?19287174#custom') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'custom';
    src: url('../font/custom.svg?19287174#custom') format('svg');
  }
}
*/
 
 [class^="custom-"]:before, [class*=" custom-"]:before {
  font-family: "custom";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  width: 1em;
  margin-right: .2em;
  text-align: center;
  display: inline-block;
  text-decoration: inherit;
  transform: translate(2px) scale(0.8, 1);
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.custom-drag-vertical:before { content: '\e801'; } /* '' */
.custom-equal-mathematical-sign:before { content: '\e802'; } /* '' */